<!-- Search and table of application -->
<div class="m-l-20 m-r-20 m-t-20" *ngIf="isListDisplayed">
  <!-- Search input -->
<div class="filter-row">
  <form style="margin-bottom: 32px">
    <div fxLayout="row">
      <mat-form-field class="full-width">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" aria-label="Search" [formControl]="search">
        <mat-hint>Search by application name</mat-hint>
        <mat-error *ngIf="search.invalid">
          Type more than one character to search
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<!-- table listing the applications -->
<div class="mat-elevation-z8">
  <div class="loading-shade" >
    <mat-spinner *ngIf="isLoadingData"></mat-spinner>
    <div class="bg-warning text-white" *ngIf="hasError">
      {{errorText}}
    </div>
  </div>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="appli_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.appli_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="appli_host">
      <mat-header-cell *matHeaderCellDef mat-sort-header> host </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.appli_host}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="appli_product_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Product </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.appli_product_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="appli_product_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Product type </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.appli_product_type}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef fxLayoutAlign="end center">View Details</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayoutAlign="end center" style="margin-right: 8px">
        <a mat-button mat-icon-button (click)="displayApplication(row)" >
          <mat-icon>visibility</mat-icon>
        </a>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
</div>
</div>
<!-- Display of an application -->
<div fxLayout="row wrap" class="m-l-20 m-r-20 m-t-20" *ngIf="isListDisplayed === false">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-header class="bg-accent text-white">
                <mat-card-title>Detail of application: {{SelectedApplication.appli_name}}</mat-card-title>
                <mat-card-subtitle>only view is available</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="appliForm">
                    <div fxLayout="row wrap" fxFlexAlign="center" class="{{formCssClass}}">
                        <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                            <!-- Field 1 -->
                            <mat-form-field >
                              <input matInput placeholder="Application Name" aria-label="Application Name" formControlName="appli_name">
                              <mat-error *ngIf="appliForm.get('appli_name').hasError('required')">
                                Application Name is required
                              </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Field 2 -->
                        <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                          <mat-form-field >
                            <input matInput placeholder="Internal identifier (Businness Id)" aria-label="Internal identifier" formControlName="appli_bId">
                            <mat-error *ngIf="appliForm.get('appli_bId').hasError('required')">
                              Internal Identifier is required
                            </mat-error>
                          </mat-form-field>
                      </div>
                      <!-- Field 3 -->
                      <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                          <mat-form-field >
                            <input matInput placeholder="Description" aria-label="Description" formControlName="appli_description">
                          </mat-form-field>
                      </div>
                      <!-- Field 4 -->
                      <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                          <mat-form-field >
                            <input matInput placeholder="Hostname" aria-label="hostname" formControlName="appli_host">
                            <mat-error *ngIf="appliForm.get('appli_host').hasError('required')">
                              hostname is required
                            </mat-error>
                          </mat-form-field>
                      </div>
                      <!-- Field 5 -->
                      <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                          <mat-form-field >
                            <input matInput placeholder="Associated product" aria-label="Associated product" formControlName="appli_product_name">
                            <mat-error *ngIf="appliForm.get('appli_product_name').hasError('required')">
                              The associated product is required
                            </mat-error>
                          </mat-form-field>
                      </div>
                      <!-- Field 6 -->
                      <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                          <mat-form-field >
                            <input matInput placeholder="Product internal identifier" aria-label="Product internal identifier" formControlName="appli_product_bId">
                            <mat-error *ngIf="appliForm.get('appli_product_bId').hasError('required')">
                              The associated product is required
                            </mat-error>
                          </mat-form-field>
                      </div>
                      <!-- Field 7 -->
                      <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                          <mat-form-field >
                            <input matInput placeholder="Product type" aria-label="Product type" formControlName="appli_product_type">
                            <mat-error *ngIf="appliForm.get('appli_product_type').hasError('required')">
                              The associated product is required
                            </mat-error>
                          </mat-form-field>
                      </div>
                      <!-- Field 8 -->
                      <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                          <mat-form-field >
                            <input matInput placeholder="Application group" aria-label="Application group" formControlName="appli_group">
                          </mat-form-field>
                      </div>
                    </div>
                </form>
                    <mat-card-actions>
                        <button mat-raised-button color="accent" (click)="closeApplicationDisplay()">Close</button>
                    </mat-card-actions>
                    <mat-card-actions>
                        <button mat-raised-button color="accent" (click)="activateEdit()">Edit</button>
                    </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</div>

