<!--Global layout of the application with
    -A toolbar with a menu icon allowing to open the sidebar
        -A header component (app-header) included in the toolbar for the user profile
    -A navbar component
  -->
<div class="app-container">
  <mat-toolbar color="primary" fxLayoutGap="8px" class="app-toolbar"
  [class.app-is-mobile]="media.isActive('xs')">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <a mat-button routerLink="/home"><h1>Ticketing System</h1></a>
    <span class="flex-spacer"></span>
    <app-header></app-header>

  </mat-toolbar>
  <mat-sidenav-container class="app-sidenav-container"
                        [style.marginTop.px]="media.isActive('xs') ? 56 : 0">
    <mat-sidenav #sidenav id="mySidenav" [mode]="media.isActive('xs') ? 'over' : 'side'"
                [fixedInViewport]="media.isActive('xs')" fixedTopGap="56">
      <app-sidnavbar></app-sidnavbar>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet class="app-container"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

